$debug : false;

/*    Button settings
=============================================== */
$btn-size_min : 150px  !default; // size button
$btn-rounded_radius : 5px !default; // border-radius
$btn-border : transparent !default;

@if $debug{
    @warn "ok is true";
    .debug , .grid>div{
        border: 1px dotted red;
    }
}