

.block {
    display: block;
}



// Positions
//------------------------------
.u-text-align {
    text-align: center;
}

.u-space-top_1rem{
    margin-top: 1rem;
}
.u-space-top_3rem{
    margin-top: 3rem;
}

.u-scroll-snap-y{
    scroll-snap-type: y mandatory;
    .u-scroll-align{
        scroll-snap-align: start;
    }
}

/*          GRID
=======================================*/
.grid{
    display:grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    grid-row-gap: 24px;
    grid-column-gap: 30px;
}

.justify-center{
    justify-self: center;
}

/*      Shadow box
========================== */

.shadowed{
    @include shadow();
}
