

//______________ See _settings for set up size button __________

$listButtons : ('save','delete','modify','cancel');
//$listButtons : append($listButtons,plop);

/*              Butons
=============================== */
button.btn,a.btn{
    display: inline-block;
    color: white;
    padding: .5em;
    text-decoration: none;
    text-align: center;
    min-width: $btn-size_min ;
    @include transition(all 0.5s ease-in-out);

    //*      Flat
    //========================*/
    &-flat{
        &_border{
            border: $btn-border;
        }  
    }

    //*      rounded
    //========================*/
    &-rounded{
        border-radius: $btn-rounded_radius;
    }

    //*      shadow
    //========================*/
    &-shadow:hover{
        box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.2);
    }  


    //*       Iteration button 
    //=========================================== */
    @each $item in $listButtons{
        &_#{$item}{
            background:color($item);
            &:hover{
                background:color($item,'light');
            }
        }
    }
}