
$transition-bezier : cubic-bezier(0.1, 0.45, .56,.63,.2);

input[type="text"]{
	font: $font-input; 
	color: #333; 
	width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
	outline:none;
}

.inputs.flex{
	display:flex;
	flex-direction: row;
	label{
		white-space:nowrap;
		margin-right:10px;
		align-self:center;	
	}
}

// Set the size input
.wrapper-input{
		width: $size-global-inputs;  
		position: relative;
}

[class^='input-border']{
    border: 1px solid #ccc;
	padding: 7px 14px 9px;
}

.input-border_e1{
	
	transition: 0.4s;
	 ~ .focus-border:after, ~ .focus-border:before {
		 	content: ""; 
		 	position: absolute;
		 	top: 0; 
		 	left: 50%; 
		 	width: 0; 
		 	height: 2px; 
		 	background-color: #4caf50;
		 	transition: 0.4s ;
	}
	~ .focus-border:after{
		top: auto; bottom: 0;
	}
	~.focus-border{
		i:before, i:after{
			content: ""; 
			position: absolute; 
			top: 50%; 
			left: 0; 
			width: 2px; 
			height: 0; 
			background-color: #4caf50; 
			transition: 0.6s;
		}
		i:after{left: auto; right: 0;}
	}
	&:focus ~ .focus-border{
		&:after, &:before{left: 0; width: 100%; transition: 0.4s $transition-bezier;}
		i:after, i:before{top: 0; height: 100%; transition: 0.5s $transition-bezier;}
	}
	
	
}

		
