
$transition-bezier : cubic-bezier(0.1, 0.45, .56,.63,.2);

input[type="text"]{
	font: $font-input; 
	color: #333; 
	width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
	outline:none;
}

//Allow well display labe o the left
.label-left{
    white-space: nowrap;
    margin-right: 10px;
    align-self: center;
    /* float: left; */
    position: absolute;
    display: block;
    top: 10px;
    left: -105px;
}



// Set the size input
.wrapper-input{
		width: $size-global-inputs;  
        position: relative;
        z-index:2; //règle les problèmes liés à un éventuel background
}

[class^='input-border']{
    border: 1px solid $input-border-color ;
	padding: 7px 14px 9px;
}


// effect 1 -- transition border --
.input-border_e1{
	transition: 0.4s;
	 ~ .focus:after, ~ .focus:before { // line top and bottom
		 	content: ""; 
		 	position: absolute;
		 	top: 0; 
		 	left: 50%; 
		 	width: 0; 
		 	height: 2px; 
		 	background-color: $input-border-color_focus;
		 	transition: 0.4s ;
	}
	~ .focus:after{
		top: auto; bottom: 0;
	}
	~ .focus{
		i:before, i:after{ // line left and right
			content: ""; 
			position: absolute; 
			top: 50%; 
			left: 0; 
			width: 2px; 
			height: 0; 
			background-color: $input-border-color_focus; 
			transition: 0.6s;
		}
		i:after{left: auto; right: 0;}
	}
	&:focus ~ .focus{
		&:after, &:before{left: 0; width: 100%; transition: 0.4s $transition-bezier;}
		i:after, i:before{top: 0; height: 100%; transition: 0.5s $transition-bezier;}
	}
}

//effect 2 -- Background simple transition --	
.input-border_e2{
    background:transparent;
	~ .focus{
		position: absolute; left: 0; top: 0; width: 0%; height: 100%; background-color:$input-background-color-focus; opacity: 0; transition: 0.5s; z-index: -1;
	}
	&:focus ~ .focus{transition: 0.8s $transition-bezier; opacity: 1; width:100%;}
}

//effect 3 -- Background transition window --
.input-border_e3{
    background:transparent;
	~ .focus:before,~ .focus:after {
        position: absolute; 
        content:"";
        left: 0; 
        top: 0; 
        width: 0; 
        height: 100%; 
        background-color:$input-background-color-focus; 
        transition: 0.5s; 
        z-index: -1;
        
    }
    ~ .focus:after {
        right: 0;
        left: auto;
        background: $input-background-color-focus;
    }
	&:focus ~ .focus:after,&:focus ~ .focus:before {transition: 0.8s $transition-bezier; width:50%;}
}

//effet label up
.input-border_e4{
	background:transparent;
	~ label.label-up{
		position: absolute;
		right: 54%;
		top: 8px;
		transition: transform 0.5s ease-in-out;
		opacity: .5;
		z-index:-1;
	}
	&:focus ~ label, &:not(:placeholder-shown) ~ label{
		transform: translate(-5px,-32px);
		color:#2855e9;
		font-size-adjust: 0.5;
		opacity: 1;
		transition:  0.5s ease-in-out;
	}
}
