
.grid-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    //generate columns spans for grid 12
    @for $i from 2 to 13 {
        .col-#{$i}\/12{
            grid-column: span $i;
        }
    }
}

//          TEMPLATE GRID AREA
//===============================================
.grid-areas {
    display: grid;
    grid-template-columns: $template-grid-columns;
    grid-template-rows: $template-grid-rows;
    grid-template-areas:$template-format; 
    height: $height-grid;

    .header {
        grid-area: header;
        @if $demo{
            background-color: #648ca6;
        }
        
      }
    .nav {
        grid-area: sidenav;
        @if $demo{
            background-color: #394263;
        }
       
      }
    .main {
        grid-area: main;
        @if $demo{
            background-color: #8fd4d9;
        }
        
      } 
      .footer {
        grid-area: footer;
        @if $demo{
            background-color: #648ca6;
        }
       
      }
  }

.row-span-2{
    grid-row: span 2; 
}