@import 'partials/settings';
@import 'partials/colors';
@import 'partials/mixins/mixins';
@import 'partials/components/components';
@import 'partials/utils';
@import 'partials/fonts';


html,body{
    font-family: $font-family_poppins;
}
article{
    margin: 2rem 3rem;

    .info{
        display: block;
        text-align:center;
        font-size: .7rem;
        padding: 0.5rem;
       
        color: color('neutral','dark');

        &-class{
            background: color('neutral','light');
        }
    }
}




