@charset "UTF-8";
/*              BUTTONS
================================================== */
@import url("https://fonts.googleapis.com/css?family=Poppins");
button.btn, a.btn {
  display: inline-block;
  color: white;
  padding: .5em;
  text-decoration: none;
  text-align: center;
  min-width: 150px;
  outline: none;
  will-change: box-shadow;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
  button.btn-flat-border, a.btn-flat-border {
    border: 2px solid black; }
  button.btn-rounded, a.btn-rounded {
    border-radius: 5px; }
  button.btn-shadow, a.btn-shadow {
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.911);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.911);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.911); }
    button.btn-shadow_up, a.btn-shadow_up {
      -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911);
      -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911);
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911); }
    button.btn-shadow_hov:hover, a.btn-shadow_hov:hover {
      -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911);
      -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911);
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.911); }
  button.btn.btn_save, a.btn.btn_save {
    background: #198c73; }
    button.btn.btn_save:hover, a.btn.btn_save:hover {
      background: #21b797; }
    button.btn.btn_save.gradient_top, a.btn.btn_save.gradient_top {
      background: linear-gradient(0, #198c73 0%, #31dab5 100%); }
      button.btn.btn_save.gradient_top:hover, a.btn.btn_save.gradient_top:hover {
        opacity: .8; }
    button.btn.btn_save.gradient_right, a.btn.btn_save.gradient_right {
      background: linear-gradient(90deg, #198c73 0%, #31dab5 100%); }
      button.btn.btn_save.gradient_right:hover, a.btn.btn_save.gradient_right:hover {
        opacity: .8; }
    button.btn.btn_save.gradient_bottom, a.btn.btn_save.gradient_bottom {
      background: linear-gradient(180deg, #198c73 0%, #31dab5 100%); }
      button.btn.btn_save.gradient_bottom:hover, a.btn.btn_save.gradient_bottom:hover {
        opacity: .8; }
    button.btn.btn_save.gradient_left, a.btn.btn_save.gradient_left {
      background: linear-gradient(270deg, #198c73 0%, #31dab5 100%); }
      button.btn.btn_save.gradient_left:hover, a.btn.btn_save.gradient_left:hover {
        opacity: .8; }
  button.btn.btn_delete, a.btn.btn_delete {
    background: #d6331d; }
    button.btn.btn_delete:hover, a.btn.btn_delete:hover {
      background: #e55441; }
    button.btn.btn_delete.gradient_top, a.btn.btn_delete.gradient_top {
      background: linear-gradient(0, #d6331d 0%, #eb7d6e 100%); }
      button.btn.btn_delete.gradient_top:hover, a.btn.btn_delete.gradient_top:hover {
        opacity: .8; }
    button.btn.btn_delete.gradient_right, a.btn.btn_delete.gradient_right {
      background: linear-gradient(90deg, #d6331d 0%, #eb7d6e 100%); }
      button.btn.btn_delete.gradient_right:hover, a.btn.btn_delete.gradient_right:hover {
        opacity: .8; }
    button.btn.btn_delete.gradient_bottom, a.btn.btn_delete.gradient_bottom {
      background: linear-gradient(180deg, #d6331d 0%, #eb7d6e 100%); }
      button.btn.btn_delete.gradient_bottom:hover, a.btn.btn_delete.gradient_bottom:hover {
        opacity: .8; }
    button.btn.btn_delete.gradient_left, a.btn.btn_delete.gradient_left {
      background: linear-gradient(270deg, #d6331d 0%, #eb7d6e 100%); }
      button.btn.btn_delete.gradient_left:hover, a.btn.btn_delete.gradient_left:hover {
        opacity: .8; }
  button.btn.btn_modify, a.btn.btn_modify {
    background: #fd811b; }
    button.btn.btn_modify:hover, a.btn.btn_modify:hover {
      background: #fd9d4e; }
    button.btn.btn_modify.gradient_top, a.btn.btn_modify.gradient_top {
      background: linear-gradient(0, #fd811b 0%, #feb980 100%); }
      button.btn.btn_modify.gradient_top:hover, a.btn.btn_modify.gradient_top:hover {
        opacity: .8; }
    button.btn.btn_modify.gradient_right, a.btn.btn_modify.gradient_right {
      background: linear-gradient(90deg, #fd811b 0%, #feb980 100%); }
      button.btn.btn_modify.gradient_right:hover, a.btn.btn_modify.gradient_right:hover {
        opacity: .8; }
    button.btn.btn_modify.gradient_bottom, a.btn.btn_modify.gradient_bottom {
      background: linear-gradient(180deg, #fd811b 0%, #feb980 100%); }
      button.btn.btn_modify.gradient_bottom:hover, a.btn.btn_modify.gradient_bottom:hover {
        opacity: .8; }
    button.btn.btn_modify.gradient_left, a.btn.btn_modify.gradient_left {
      background: linear-gradient(270deg, #fd811b 0%, #feb980 100%); }
      button.btn.btn_modify.gradient_left:hover, a.btn.btn_modify.gradient_left:hover {
        opacity: .8; }
  button.btn.btn_cancel, a.btn.btn_cancel {
    background: #ccc; }
    button.btn.btn_cancel:hover, a.btn.btn_cancel:hover {
      background: #dadada; }
    button.btn.btn_cancel.gradient_top, a.btn.btn_cancel.gradient_top {
      background: linear-gradient(0, #ccc 0%, white 100%); }
      button.btn.btn_cancel.gradient_top:hover, a.btn.btn_cancel.gradient_top:hover {
        opacity: .8; }
    button.btn.btn_cancel.gradient_right, a.btn.btn_cancel.gradient_right {
      background: linear-gradient(90deg, #ccc 0%, white 100%); }
      button.btn.btn_cancel.gradient_right:hover, a.btn.btn_cancel.gradient_right:hover {
        opacity: .8; }
    button.btn.btn_cancel.gradient_bottom, a.btn.btn_cancel.gradient_bottom {
      background: linear-gradient(180deg, #ccc 0%, white 100%); }
      button.btn.btn_cancel.gradient_bottom:hover, a.btn.btn_cancel.gradient_bottom:hover {
        opacity: .8; }
    button.btn.btn_cancel.gradient_left, a.btn.btn_cancel.gradient_left {
      background: linear-gradient(270deg, #ccc 0%, white 100%); }
      button.btn.btn_cancel.gradient_left:hover, a.btn.btn_cancel.gradient_left:hover {
        opacity: .8; }

/*
=================*/
.block {
  display: block; }

/*          GRID
=======================================*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  grid-row-gap: 24px;
  grid-column-gap: 30px; }

.justify-center {
  justify-self: center; }

/*      Shadow box
========================== */
.shadowed {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6); }

/********************************************
*   code de mise en page pour la présentaiton
**********************************************/
/*             CSS DISPLAY EXEMPLE
===============================================*/
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7; }

section {
  text-align: center;
  margin: 5rem auto; }
  section .grid {
    margin-bottom: 4rem; }

article {
  display: inline-table;
  margin: 2rem auto;
  width: 60%;
  padding: 3rem;
  background: white;
  box-shadow: 0px 0px 2px black; }
  article .info {
    margin-top: .5rem;
    display: block;
    text-align: center;
    font-size: .6rem;
    padding: 0.5rem;
    color: #555; }
    article .info-class {
      background: #f7f7f7; }
