/*              Butons
================================ */
@import url("https://fonts.googleapis.com/css?family=Poppins");
button.btn, a.btn {
  display: inline-block;
  color: white;
  padding: .5em;
  text-decoration: none;
  text-align: center;
  min-width: 150px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.btn-flat_border, a.btn-flat_border {
    border: 2px solid black; }
  button.btn-rounded, a.btn-rounded {
    border-radius: 5px; }
  button.btn-shadow:hover, a.btn-shadow:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
  button.btn_save, a.btn_save {
    background: #198c73; }
    button.btn_save:hover, a.btn_save:hover {
      background: #21b797; }
  button.btn_delete, a.btn_delete {
    background: #d6331d; }
    button.btn_delete:hover, a.btn_delete:hover {
      background: #e55441; }
  button.btn_modify, a.btn_modify {
    background: #fd811b; }
    button.btn_modify:hover, a.btn_modify:hover {
      background: #fd9d4e; }
  button.btn_cancel, a.btn_cancel {
    background: #ccc; }
    button.btn_cancel:hover, a.btn_cancel:hover {
      background: #dadada; }

/*          GRID
=======================================*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  grid-row-gap: 24px;
  grid-column-gap: 30px; }

.justify-center {
  justify-self: center; }

/*             CSS DISPLAY EXEMPLE
===============================================*/
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

section {
  text-align: center;
  margin: 5rem auto; }
  section .grid {
    margin-bottom: 4rem; }

article {
  margin: 2rem auto;
  width: 60%;
  padding: 3rem;
  box-shadow: 0px 0px 2px black; }
  article .info {
    margin-top: .5rem;
    display: block;
    text-align: center;
    font-size: .6rem;
    padding: 0.5rem;
    color: #555; }
    article .info-class {
      background: #f7f7f7; }
